# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage
Pods/
Carthage/Build/

# App archives
*.xcarchive
*.ipa

# Temporary files
*.tmp
*.swp
